
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
  background-color:#3FAF82;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


button{
  position: absolute;
  top: -22px;
  left: -40;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.bar {
  position: absolute;
  background-color: #fff;
  display: block;
  width: 80px;
  height: 8px;
  border-radius: 3px;
  border: none;
  box-shadow:0px 0px 10px -2px #333;
  padding: 0;
  outline: none;
}

.top {
  top: 0px;
}
.mid{
  top: 22px;
}
.bot{
  top: 44px;
}

@keyframes mid{
  from{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 8px;
    opacity: 100%;
  }
  to{
    margin: 3px 30px;
    padding: 0;
    width: 23px;
    height: 3px;
    opacity: 0;
  }
}
@keyframes mid-rev{
  from{
    margin: 3px 30px;
    padding: 0;
    width: 23px;
    height: 3px;
    opacity: 0;
  }
  to{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 8px;
    opacity: 100%;
  }
}
@keyframes top1{
  from{
    position: absolute;
    top: 0px;
  }
  to{
    position: absolute;
    top: 22px;
  }
}
@keyframes top1-rev{
  from{
    position: absolute;
    top: 22px;
  }
  to{
    position: absolute;
    top: 0px;
  }
}
@keyframes top2{
  from{
    position: absolute;
    top: 22px;
    transform: rotate(0deg);
  }
  to{
    position: absolute;
    top: 22px;
    transform: rotate(45deg);
  }
}
@keyframes top2-rev{
  from{
    position: absolute;
    top: 22px;
    transform: rotate(45deg);
  }
  to{
    position: absolute;
    top: 22px;
    transform: rotate(0deg);
  }
}
@keyframes bot1{
  from{
    position: absolute;
    top: 44px;
  }
  to{
    position: absolute;
    top: 22px;
  }
}
@keyframes bot1-rev{
  from{
    position: absolute;
    top: 22px;
  }
  to{
    position: absolute;
    top: 44px;
  }
}
@keyframes bot2{
  from{
    position: absolute;
    top: 22px;
    transform: rotate(0deg);
  }
  to{
    position: absolute;
    top: 22px;
    transform: rotate(135deg);
  }
}
@keyframes bot2-rev{
  from{
    position: absolute;
    top: 22px;
    transform: rotate(135deg);
  }
  to{
    position: absolute;
    top: 22px;
    transform: rotate(0deg);
  }
}
.clicked .mid{
  animation: mid 0.3s ease-in-out forwards;
}

.unclicked .mid{
  opacity: 0%;
  animation: mid-rev 0.3s 0.3s ease-in-out forwards;
}

.clicked .top{
  animation: top1 0.3s ease-in-out forwards, top2 0.3s 0.35s ease-in-out forwards;
}

.unclicked .top{
  animation: top2-rev 0.3s ease-in-out forwards, top1-rev 0.3s 0.3s ease-in-out forwards;
}

.clicked .bot{
  animation: bot1 0.3s ease-in-out forwards, bot2 0.3s 0.35s ease-in-out forwards;
}

.unclicked .bot{
  animation: bot2-rev 0.3s ease-in-out forwards, bot1-rev 0.3s 0.3s ease-in-out forwards;
}